@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    background-color: #0A0A0A;
    font-family: "Inter", sans-serif;

}

.intro_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    h1 {
        color: #FFFFFF;
        font-weight: 400;
        font-size: 101px;
        text-transform: uppercase;
        font-family: "Bebas Neue", sans-serif;
        line-height: 90%;
        letter-spacing: 0%;
        margin-bottom: 8px;
    }

    p {

        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0%;
        color: #C7C7C7;
    }

}

.contact_btn_link_wrap {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 16px;
    position: relative;
}

.dot_icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #0A0A0A;
    display: inline-flex;
    justify-content: flex-end;
    position: relative;
    right: -20px;
}

.social_icon {
    background-color: #222222;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.instra_icon {
        img {
            width: 28px;
            height: 26px;
        }
    }
}

.card_img_wrap {
    background-color: #C7C7C7;
    border-radius: 16px;
    max-width: 600px;
    min-height: 800px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.intro_wrapper {
    border-bottom: 1px solid #484848;
    padding-bottom: 80px;
    padding-top: 30px;
    margin-bottom: 80px;
}

.main_article {
    h2 {
        font-weight: 400;
        font-size: 76px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #FFFFFF;
        text-transform: uppercase;
    }

    p {
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        color: #C7C7C7;
        line-height: 150%;
        letter-spacing: 0%;
        margin-bottom: 0;
    }
}

.featured_projects_section {
    .main_article {
        margin-bottom: 80px;
    }

    .featured_projects_left_card {
        background-color: #1A1A1A;
        max-width: 600px;
        min-height: 600px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .card_ss_wrap {
            border: 2px solid #000000;
            border-radius: 12px;
            max-width: 486px;
            min-height: 347px;
            width: 100%;
            overflow: hidden;
            height: 347px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .featured_projects_right_part {
        h3 {
            font-weight: 500;
            font-size: 32px;
            line-height: 140%;
            letter-spacing: 0%;
            color: #FFFFFF;
            margin-bottom: 16px;
        }

        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 0%;
            color: #C7C7C7;
            margin-bottom: 32px;
        }

        .project_info_wrap {
            h6 {
                font-weight: 600;
                font-size: 16px;
                line-height: 150%;
                letter-spacing: 0%;
                text-transform: uppercase;
                color: #FFFFFF;
                border-bottom: 1px solid #484848;
                padding-bottom: 16px;
            }

            .year_role_wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #484848;
                padding-bottom: 16px;
                margin-bottom: 16px;

                p {
                    margin-bottom: 0;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 160%;
                    letter-spacing: 0%;
                    color: #FFFFFF;

                }
            }

            .live_demo_link_wrap {
                display: flex;
                gap: 24px;

                a {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 150%;
                    letter-spacing: 0%;
                    text-transform: uppercase;
                    color: #D3E97A;
                    border-bottom: 2px solid #D3E97A;
                    text-decoration: none;
                }
            }
        }
    }

    .site_badge {
        position: absolute;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0%;
        color: #FFFFFF;
        left: 18px;
        top: 18px;
        background-color: #0A0A0A;
        border-radius: 100px;
        max-width: 99px;
        min-height: 37px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    border-bottom: 1px solid #484848;
    margin-bottom: 124px;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-120 {
    margin-bottom: 120px !important;
}

.mob_mb_60 {
    margin-bottom: 60px !important;
}

.main_article {
    h2 {

        font-weight: 500;
        font-size: 32px;
        line-height: 140%;
        letter-spacing: 0%;
        color: #FFFFFF;
    }

    h3 {
        font-size: 24px;
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: -1%;
        color: #fff;
    }

}

.print_btn_wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 244px;
    height: 50px;
    opacity: 0;
    overflow: hidden;
}

.skills_wrap {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    row-gap: 15px;

    .skills_box {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #fff;
        display: inline-block;
        align-items: center;
        justify-content: center;
        border: 1px solid #484848;
        border-radius: 100px;
        padding: 20px 40px;
    }
}

.common_flex_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}


// form css here
.site_form {
    .label_modify {
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0%;
        color: #C7C7C7;
    }


    .input_modify {
        background-color: #1A1A1A;
        border-radius: 4px;
        min-height: 51px;
        border: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0%;
        color: #FFFFFF;
        padding: 12px 20px;

        &:focus {
            box-shadow: none;
            border: 0;
        }

        &::placeholder {
            color: #C7C7C7;
            font-size: 14px;
        }

    }
}

.copy_right_wrap {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #C7C7C7;
}

/* Remove arrows in Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove arrows in Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


// media css here

@media(max-width:1199px) {
    .card_img_wrap {
        min-height: 600px;
    }
}

@media(max-width: 991px) {
    .intro_wrap h1 {
        font-size: 70px;
    }

    .featured_projects_section .featured_projects_right_part h3 {
        font-size: 25px;
    }

    .container,
    .container-md,
    .container-sm {
        max-width: 90%;
    }

    .featured_projects_section .featured_projects_right_part p {
        font-size: 16px;
    }

    .main_article h2 {
        font-size: 25px;

    }

    .skills_wrap .skills_box {
        font-size: 12px;
        padding: 16px 30px;
    }

    .main_article p {
        font-size: 16px;
    }

    .main_article h3 {
        font-size: 20px;
    }
}

@media(max-width: 768px) {
    .card_img_wrap {
        margin-top: 50px;
    }

    .card_img_wrap {
        min-height: 400px;
    }

    .intro_wrapper {
        margin-bottom: 30px;
        padding-bottom: 50px;
    }

    .featured_projects_section .featured_projects_left_card {
        margin-bottom: 20px;
    }

    .featured_projects_section .featured_projects_left_card {
        max-width: 300px;
        min-height: 500px;
    }

    .intro_wrap h1 {
        font-size: 45px;
        line-height: 100%;
    }

    .featured_projects_section .featured_projects_right_part h3 {
        font-size: 22px;
    }

    .main_article h2 {
        font-size: 22px;
    }

    .contact_btn_link_wrap .theme-btn {}

    .contact_btn_link_wrap {
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .featured_projects_section {
        margin-bottom: 20px;
    }

    .featured_projects_section .main_article {
        margin-bottom: 40px;
    }

    .social_icon {
        &.instra_icon {
            img {
                width: 25px;
                height: 28px;
            }
        }
    }

    .main_article h3 {
        font-size: 18px;
    }

    .main_article p {
        font-size: 14px;
    }

    .common_flex_wrap {
        align-items: flex-start;
    }

    .mob_45 {
        margin-bottom: 45px !important;
    }

    .mob_15 {
        margin-bottom: 15px !important;
    }

    .copy_right_wrap {
        margin-bottom: 10px;
        display: inline-block;
    }

    .social_icon {
        width: 44px;
        height: 44px;
    }
}